:any-link {
    color: red;
    font-weight: 900;
    text-decoration: none;

}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color:black;
}
body {
    padding: 0;
    margin: 0;
    width: 92.5vw;
    overflow-x: hidden;
}