@import "./variables";

.nav {
    display: flex;
    padding: 8px;
    // margin-right: 10vw;
    width: fit-content;
    text-transform: capitalize;
    text-decoration: none;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include text-regular();


    &-line {
        display: block;
        width: 1px;
        height: 1.5em;
        background: black;
        margin: auto 6px;

        // 576px window width and more
        @include sm {
            display: none;
        }

        // 992px window width and more
        // @include lg {
        //     margin-left: auto;
        //     margin-right: auto;
        //     max-width: 1100px;
        // }

        // 1400px window width and more
        // @include rwd(1400) {
        //     margin-bottom: 20px;
        //     margin-top: 20px;
        // }
    }

    &-link {
        margin-left: 4px;
        padding: 12px;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 400;
        min-width: 100px;
        text-align: center;
        width: 50px;

        &:hover {
            box-shadow: inset 0px 1px 2px 0px rgba(47, 28, 28, 0.25);
            font-weight: 700;
        }

        &:visited {
            color: black;
        }



        &:active {
            color: black;
        }

    }
}