@import "./variables";



.promotion2 {
	background-image: linear-gradient(to right bottom, #00737c, #00878c, #009c9a, #00b2a7, #0fc7b1);
	min-height: 539px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	$slider-nav-width: 30%;
	$promotion-height: 123px;
	height: 600px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 25% 1fr 1fr;
	overflow-wrap: normal;

	
	

	

	

	&-container {
		display: flex;


		&vd {
			width: 2px;
			height: 100%;
			min-height: 300px;
			background: rgba(0, 0, 0, 0.224);
			margin: 22px;
		}

		&-inner {

			&-image {
				z-index: 5;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				background: black;
				height: auto;
				width: auto;
				height: 100%;
				img {
					height: auto;
					width: 100%;
				}
				
			}

		}

	}


	&-image {

		grid-area: 2 / 1 / 4 / 5;

		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		z-index: 2;
		width: 100%;
		
		@include xs {
			grid-area: 2 / 1 / 3 / 9;
		}
		@include sm {
			grid-area: 2 / 1 / 3 / 9;
		}

		@include md {
			grid-area: 2 / 1 / 4 / 5;
		}
		@include lg {
			grid-area: 2 / 1 / 4 / 5;
		}

		@include xl {
			grid-area: 2 / 1 / 4 / 5;
		}

		&-1 {
			background: $color-search;

		}

		&-2 {
			background: $color-power;
		}

		&-3 {
			background: $color-apple;
		}

		&-4 {
			background: $color-shop;
		}

		&-5 {
			background: $color-lock;
		}

		&-6 {
			background: $color-star;
		}
	}


	&-text {
		grid-area: 2 / 5 / 4 / 9;
		padding: 0%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		color: white;
		text-transform: uppercase;
		flex-direction: column;
		height: 100%;
		font-size: 17px;

		

		@include xs {
			grid-area: 3 / 1 / 4 / 9;
		}
		@include sm {
			grid-area: 3 / 1 / 4 / 9;
		}

		@include md {
			grid-area: 2 / 5 / 4 / 9;
		}
		@include lg {
			grid-area: 2 / 5 / 4 / 9;
		}

		@include xl {
			grid-area: 2 / 5 / 4 / 9;
		}

		&-1 {
			background: $color-search;
		}

		&-2 {
			background: $color-power;
		}

		&-3 {
			background: $color-apple;
		}

		&-4 {
			background: $color-shop;
		}

		&-5 {
			background: $color-lock;
		}

		&-6 {
			background: $color-star;
		}



		&--top {
			display: flex;
			flex-direction: row;
			width: 158px;
			justify-content: space-between;
			align-items: center;

			svg {
				height: 72px;
				fill: #fafafadb;
				stroke: #efefefa6;
				fill-opacity: 0.5;
			}

			&-rewardText {}
		}

		&--bottom {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			font-size: 30px;
			margin: 8px;
			&-capitalize {
				font-size: 15px;
				text-transform: capitalize;
			}

			&-button {
				margin-top: 20px;
				width: 200px;
				height: 50px;
				display: flex;

				background: black;
				outline: rgba(255, 255, 255, 0) 1px dotted;


				&:hover {
					outline: rgba(255, 255, 255, 0.253) 1px dotted;
					outline-style: ridge;
					box-shadow: -3px 3px 15px 2px rgba(250, 250, 250, 0.24);
					transition: 200ms ease-in;
					transition-delay: 200ms;
					.promotion2-text--bottom-button {
						&-inner {
							
							&-left {
								
								&-img {
									// opacity: 1;
									background: $color-apple;
									transition: 200ms ease-in;
								}
							}
	
							&-rightText {
								transition: 200ms ease-in;
								// transition-delay: 1s;
								font-weight: 500;
								background: $color-power;
								
								letter-spacing: .1px;
							}
						}

					}
				
				}


				&-inner {
					&-left {
						background-color: #3EDAC6;
						width: 50px;
						height: 100%;
						display: block;

						&-img {
							display: block;
							position: relative;
							// margin: auto;
							height: 70%;
							width: 70%;
							opacity: 0.85;
							padding: 14% 13% 16% 17%;
							
						}
					}

					&-rightText {
						background-color: #06CCB3;
						width: 150px;
						font-size: 25px;
						display: flex;
						text-transform: capitalize;
						justify-content: center;
						align-items: center; 
						padding-bottom: 4px;
						letter-spacing: .5px;
					}
				}
			}
		}
	}

	&-nav {
		grid-area: 1 / 1 / 2 / 9;
		z-index: 1;
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		align-self: flex-start;
		justify-self: flex-start;

		img {
			height: 60%;
			margin: 20%;
		}

		& img {
			opacity: 1;
			position: relative;
			bottom: -10px;
			z-index: 0;
			position: relative;
		}

		&-link {
			width: 33%;
			height: 100%;
			margin: 0px;
			text-transform: uppercase;

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			transition: .3s ease-out;


			&-1 {
				background: $color-search;
			}

			&-2 {
				background: $color-power;
			}

			&-3 {
				background: $color-apple;
			}

			&-4 {
				background: $color-shop;
			}

			&-5 {
				background: $color-lock;
			}

			&-6 {
				background: $color-star;
			}
		}

		&--active {
			&#desktop {
				background: rgb(6, 154, 148)/1.5;
				border-bottom-left-radius: 4px;
			}

			&#tablet {
				background: rgb(3, 136, 137)/1.5;
			}

			&#mobile {
				background: rgb(1, 126, 130) / 1.5;

				img {
					padding: 4px;
					width: 25%;
					height: 75%;
				}

			}

			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

		}

		&:hover {
			box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);

			& img {
				opacity: 1;

			}
		}


	}

}