.sale {

	
	&-container {
		display: flex;
		width: 100%;
		height: 100%;

		&-inner {
			
			height: 100%;
			align-items: center;
			justify-content: center;
			display: flex;

			&-image {
				z-index: 5;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 40%;
				img {
					height: 100%;
					width: 100%;
					margin: 0;
					padding: 0;
				}
			}

			&.promotion-text {
				background: rgba(255, 255, 255, 0.054);
				border-left: 3px solid rgba(0, 0, 0, 0.217);
				border-bottom-right-radius: 16px;
				border-top-right-radius: 16px;
				border-bottom-left-radius: 3px;
				border-top-left-radius: 3px;
			}

			&-bot {
				&-left {
					
					display: flex;
					flex-direction: column;
					
					width: 60%;
					background: white;
					height: 100%;
					@include text-promo;
					color: $color-accent;
					align-items: center;
					justify-items: center;
					
					.text {
						margin: 0 auto;
						position: relative;
						display: -webkit-flex;
						display: flex;
						align-items: center;
						justify-items: center;
						overflow-wrap: break-word;
						width: 100%;
						text-align: left;
						outline: white;
						@include sm {
							text-align: center;
						}
						.text-sale {
							text-shadow: 1px 1px 1px white;
							font-size: 100%;
							width: 100%;
							margin: 0 auto;
							position: relative;
							max-width: 200px;
							word-break: keep-all;
							text-overflow: clip;
							overflow: visible;
							@include sm {
								font-size: 126px;
								max-width: 300px;
							}
						}
						.text-sale2 {
							text-shadow: 1px 1px 1px white;
							font-size: 20px;
							width: fit-content;
							margin: 0 auto;
							position: relative;
							max-width: 200px;
							width: 100%;
							word-break: keep-all;
							text-overflow: ellipsis;
							overflow: visible;
							@include sm {
								font-size: 50px;
								max-width: 300px;
							}
	
						}
	
						.text-sale3 {
							text-shadow: 1px 1px 1px white;
							font-size: 20px;
							width: 100%;
							margin: 0 auto;
							position: relative;
							max-width: 200px;
							word-break: keep-all;
							text-overflow: ellipsis;
							overflow: visible;
							@include sm {
								font-size: 50px;
								max-width: 300px;
							}
						}

					}

					
				}

				&-right {
					width: 40%;
				}

			}

		}
	}
}