@import "./variables";
.aboutMinimal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;

    &-circle {
        width: 400px;
        height: 400px;
        background-image: url("/img/Shape 6.png");
        border-radius: 50%;
        margin-top: 40px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &-line1{
            align-items: center;
            justify-content: center;
        }
    }
    
    .text {
        @include text-promo;


        &-promo {
            @include text-promo;
            padding-bottom: 2em;
            text-transform: capitalize;
        }

        &-regular {
            @include text-regular;
            padding: 2em;
            text-transform: capitalize;
            text-align: center;
            margin-left: 150px;
            margin-right: 150px;
        
        }
    }

    &-img {
        padding: 50px 20px 60px 20px;
        height: 100%;

        &-text {
            position: relative;
            bottom: 40px;
            @include text-display();
        }
    }
}