@import "./variables";

.aboutMinimal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;

    &-circle {
        width: 400px;
        height: 400px;
        background-image: url("/img/Shape 6.png");
        border-radius: 50%;
        margin-top: 40px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; 

        &-line1{
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 100%;
            left: 50px;
            margin: auto;
            z-index: -3;
        }
        &-line2{
            position: absolute;
            align-items: center;
            justify-content: center;
            right: -50px;
            margin: auto;
            
            z-index: -4;
        }
        &-line3{
            position: absolute;
            align-items: center;
            justify-content: center;
            top: 20%;
            margin: auto;
            z-index: 2;
          
        }
        &-img {
            
            position: absolute;
            align-items: center;
            justify-content: center;
            right: 0;
            color: white;
            
    
            &-text {
                position: relative;
                bottom: -85px;
                display: block;
                z-index: 1;
                display: flex;
                flex-direction: column; 
                justify-content: center;
                align-items:center;
                color: white;
                
                &-app {
                    font-size: 100px;
                    font-weight: 500;
                    color: white;
                }
                &-off {
                    color: inherit;

                }
                @include text-display();
            }
        }
    }
    
    .text {
            @include text-promo;
            

        &-promo {
            @include text-promo;
            padding-bottom: 2em;
            text-transform: capitalize;
        }

        &-regular {
            @include text-regular;
            padding: 2em;
            text-transform: capitalize;
            text-align: center;
            // margin-left: 150px;
            // margin-right: 150px;
        
        }
    }

    
}