$background-default: rgb(23, 192, 181);
$font-sans: "Roboto", sans-serif;
$max-width: 1200px;



@mixin flex-row($justify) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify;
}

@mixin text-display {
    font-family: $font-sans;
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.612);
    text-transform: capitalize;
}

@mixin text-promo {
    font-family: $font-sans;
    font-size: 29px;

    color: rgba(0, 0, 0, 0.598);
    text-transform: uppercase;
}

@mixin text-promo-customSize($size) {
    font-family: $font-sans;
    font-size: $size;

    color: rgba(0, 0, 0, 0.598);
    text-transform: uppercase;
}

@mixin text-regular {
    font-family: $font-sans;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.496);
}

