// Smallest (really small)
$screen-xs: 100px;
// Small tablets and large smartphones (landscape view)
$screen-sm: 411px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 1200px;

// Large tablets and desktops
$screen-xl: 1600px;

// Small devices
@mixin xs { 
    @media (min-width: #{$screen-xs}) {
        @content;
    }

}
@mixin sm { 
    @media (min-width: #{$screen-sm}) {
        @content;
    }

}

// Medium devices
@mixin md { //768
    @media (min-width: #{$screen-md}) {
        @content;
    }
}

// Large devices
@mixin lg { // 1200
    @media (min-width: #{$screen-lg}) {
        @content;
    }
    
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
}

// Custom
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}


// -----------------------------------------


@mixin flex-row($justify) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify;
}

@mixin text-display {
    font-family: $font-sans;
    font-size: 40px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
}
@mixin text-display-custom($size) {
    font-family: $font-sans;
    font-size: $size;;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
}

@mixin text-promo {
    font-family: $font-sans;
    font-size: 29px;
    color: $color-main;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

@mixin text-promo-customSize($size) {
    font-family: $font-sans;
    font-size: $size;

    color: rgba(0, 0, 0, 0.598);
    text-transform: uppercase;
}

@mixin text-regular {
    font-family: $font-sans;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.496);
}

$background-default: rgb(23, 192, 181);

$font-sans: "Arial",
sans-serif;

$color-main: rgb(23, 192, 181);
$color-dark: #00828b;
$color-search:#01646C;
$color-power:#097B84;
$color-apple: #118F99;
$color-shop: #1DA0AA;
$color-lock: #29B7C2;
$color-star: #3CCAD5;
$color-accent: #52d9b5;