@mixin flex-row($justify) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: $justify;
}

@mixin text-display {
  font-family: $font-sans;
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.612);
  text-transform: capitalize;
}

@mixin text-promo {
  font-family: $font-sans;
  font-size: 29px;

  color: rgba(0, 0, 0, 0.598);
  text-transform: uppercase;
}

@mixin text-regular {
  font-family: $font-sans;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);
}

$background-default: rgb(23, 192, 181);

$font-sans: "Roboto", sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// ------ Project's CSS ----------------------------------------------//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.header {
    display: flex;
    align-self: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07);
  }
  &#aboutMinimal {
    flex-direction: column;
    min-height: 700px;
  }
  &.sale {
    min-height: 500px;
    width: 100%;
    background: #48d7b1;
    @include flex-row(center);
  }
  &#copyright {
    @include flex-row(center);
    padding: 16px;
  }
}
.container {
  display: flex;

  &.logo {
    margin-left: 10vw;
  }
}

// NAVIGATION
.nav {
  display: flex;
  padding: 8px;
  margin: 8px;
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  @include text-regular();
  &-link {
    margin-left: 4px;
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    min-width: 100px;
    &:hover {
      box-shadow: inset 0px 1px 2px 0px rgba(47, 28, 28, 0.25);
      font-weight: 700;
    }
  }
}

.hr {
  width: 2px;
  height: 1.5em;
  position: relative;
  top: 0.6rem;
  background: grey;
  margin-left: 4px;
}

.promotion {
  background: rgb(31, 208, 196);
  background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); 
  min-height: 539px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &-nav {
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    img {
      height: 60%;
      margin: 20%;
    }

    &-link {
      text-transform: uppercase;
      background: $background-default;
      display: flex;
      align-items: center;
      justify-content: center;
      &#desktop {
        background: rgba(14, 176, 165, 0.183);
        border-bottom-left-radius: 4px;
      }
      &#tablet {
        background: rgba(10, 160, 150, 0.184);
      }
      &#mobile {
        background: rgba(3, 140, 140, 0.19);
      }
      width: 123px;
      height: 123px;
      margin: 0px;
      &:hover {
        box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
      }
    }
  }

  &-container {
    // background: rgba(255, 166, 0, 0.122);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    flex-wrap: wrap;
    height: 100%;
    z-index: 0;
    position: relative;
    margin-top: 24px;
    vd {
      width: 2px;
      height: 100%;
      min-height: 300px;
      background: rgba(0, 0, 0, 0.224);
      margin: 22px;
    }
    &-inner {
      // background: orange;
      min-width: 300px;
      width: 50%;
      max-width: 400px;
      min-height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 40px 40px 40px;
      &.promotion-text {
        background: rgba(255, 255, 255, 0.054);
        border-left: 3px solid rgba(0, 0, 0, 0.217);
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px; 
       
      }
      img {
        z-index: 5;
        position: absolute;
      }
      .circle {
        $circle-size: 470px;
        &:nth-child(1) {
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.068);
          width: $circle-size;
          height: $circle-size;
          position: absolute;
          z-index: 0;
        }
        &:nth-child(2) {
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.074);
          width: $circle-size * 0.8;
          height: $circle-size * 0.8;
          position: absolute;
          z-index: 1;
        }
        &:nth-child(3) {
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.177);
          width: $circle-size * 0.6;
          height: $circle-size * 0.6;
          position: absolute;
          z-index: 2;
        }
      }
    }
  }

  //   -----promotion-2------
  &-2 {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 640px;
    &-nav {
      justify-content: space-between;
      width: 100%;
      align-self: flex-start;
      display: flex;
      &-link {
        text-transform: uppercase;
        background: rgba(146, 171, 169, 0.238);
        width: 1/6 * 100%;
        height: 123px;
        margin: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 2px solid #9b9b9b34;
        @include text-regular();
        &#desktop {
          background: rgb(14, 176, 165);
        }
        &#tablet {
          background: rgb(10, 160, 150);
        }
        &#mobile {
          background: rgb(3, 140, 140);
        }

        height: 123px;
        margin: 0px;
        &:hover {
          box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
        }
      }
    }
  }
}

.aboutMinimal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 40px 0;
  &-circle {
    width: 400px;
    height: 400px;
    background: $background-default;
    border-radius: 50%;
    margin-top: 40px;
  }
  
  .text {
    @include text-promo;
    &-promo {
      @include text-promo;
      padding-bottom: 2em;
    }
    &-regular {
      @include text-regular;
      padding: 2em;
    }
  }
  &-img {
    padding: 50px 20px 60px 20px;
    height: 100px;
    &-text {
      position: relative;
      bottom: 40px;
      @include text-display();
    }
  }
}
