.promotion {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00737c), color-stop(#00878c), color-stop(#009c9a), color-stop(#00b2a7), to(#0fc7b1));
  background-image: linear-gradient(to right bottom, #00737c, #00878c, #009c9a, #00b2a7, #0fc7b1);
  min-height: 539px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.promotion-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 4 / 5;
  padding: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promotion-text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 1 / 5 / 4 / 9;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 17px;
}

.promotion-text--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 158px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion-text--top svg {
  height: 72px;
  fill: #fafafadb;
  stroke: #efefefa6;
  fill-opacity: 0.5;
}

.promotion-text--bottom {
  margin-top: 30px;
  font-size: 30px;
}

.promotion-text--bottom-capitalize {
  font-size: 15px;
  text-transform: capitalize;
}

.promotion-text--bottom-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promotion-text--bottom-button:hover .promotion-text--bottom-button-inner-left-img {
  opacity: 1;
}

.promotion-text--bottom-button-inner-left {
  background-color: #00737c;
  width: 50px;
  height: 100%;
  display: block;
}

.promotion-text--bottom-button-inner-left-img {
  display: block;
  position: relative;
  margin: 15% auto;
  height: 70%;
  width: 70%;
  opacity: 0.85;
}

.promotion-text--bottom-button-inner-right {
  background-color: #0fc7b1;
  width: 150px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: 1 / 6 / 2 / 9;
  z-index: 1;
  height: 62%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
}

.promotion-nav img {
  height: 60%;
  margin: 20%;
}

.promotion-nav-link {
  width: 33%;
  height: 100%;
  margin: 0px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.promotion-nav-link .arrow {
  min-height: 20px;
  bottom: 15px;
  width: 20px;
  display: block;
  background: #00828b;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  opacity: 0;
  -webkit-transition: .05s ease-out;
  transition: .05s ease-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.promotion-nav-link .arrow--active {
  opacity: 1;
  bottom: 0px;
}

.promotion-nav-link .arrow--active#desktop {
  background: #046763;
  border-bottom-left-radius: 4px;
}

.promotion-nav-link .arrow--active#tablet {
  background: #025b5b;
}

.promotion-nav-link .arrow--active#mobile {
  background: #015457;
}

.promotion-nav-link .arrow--active#mobile img {
  padding: 4px;
  width: 25%;
  height: 75%;
}

.promotion-nav-link#desktop {
  background: #069A94;
  border-bottom-left-radius: 4px;
}

.promotion-nav-link#tablet {
  background: #038889;
}

.promotion-nav-link#mobile {
  background: #017E82;
}

.promotion-nav-link#mobile img {
  padding: 4px;
  width: 25%;
  height: 75%;
}

.promotion-nav-link--active {
  background: #00828b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promotion-nav-link--active#desktop {
  background: #046763;
  border-bottom-left-radius: 4px;
}

.promotion-nav-link--active#tablet {
  background: #025b5b;
}

.promotion-nav-link--active#mobile {
  background: #015457;
}

.promotion-nav-link--active#mobile img {
  padding: 4px;
  width: 25%;
  height: 75%;
}

.promotion-nav-link img {
  opacity: 1;
  position: relative;
  bottom: -10px;
  z-index: 0;
  position: relative;
}

.promotion-nav-link:hover {
  -webkit-box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
          box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
}

.promotion-nav-link:hover img {
  opacity: 1;
}

.promotion-containervd {
  width: 2px;
  height: 100%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.224);
  margin: 22px;
}

.promotion-container-inner.promotion-text {
  background: rgba(255, 255, 255, 0.054);
  border-left: 3px solid rgba(0, 0, 0, 0.217);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.promotion-container-inner-image {
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promotion-container-inner-image .circle:nth-child(1) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.068);
  width: 470px;
  height: 470px;
  position: absolute;
  z-index: -3;
}

.promotion-container-inner-image .circle:nth-child(2) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.074);
  width: 376px;
  height: 376px;
  position: absolute;
  z-index: -2;
}

.promotion-container-inner-image .circle:nth-child(3) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.177);
  width: 282px;
  height: 282px;
  position: absolute;
  z-index: -1;
}

.promotion2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00737c), color-stop(#00878c), color-stop(#009c9a), color-stop(#00b2a7), to(#0fc7b1));
  background-image: linear-gradient(to right bottom, #00737c, #00878c, #009c9a, #00b2a7, #0fc7b1);
  min-height: 539px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 25% 1fr 1fr;
      grid-template-rows: 25% 1fr 1fr;
}

.promotion2-image {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2 / 1 / 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 2;
  width: 100%;
}

.promotion2-image-1 {
  background: red;
}

.promotion2-image-2 {
  background: blue;
}

.promotion2-image-3 {
  background: green;
}

.promotion2-image-4 {
  background: yellow;
}

.promotion2-image-5 {
  background: red;
}

.promotion2-image-6 {
  background: blue;
}

.promotion2-text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 2 / 5 / 4 / 9;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 17px;
}

.promotion2-text-1 {
  background: red;
}

.promotion2-text-2 {
  background: blue;
}

.promotion2-text-3 {
  background: green;
}

.promotion2-text-4 {
  background: yellow;
}

.promotion2-text-5 {
  background: red;
}

.promotion2-text-6 {
  background: blue;
}

.promotion2-text--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 158px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion2-text--top svg {
  height: 72px;
  fill: #fafafadb;
  stroke: #efefefa6;
  fill-opacity: 0.5;
}

.promotion2-text--bottom {
  font-size: 30px;
}

.promotion2-text--bottom-capitalize {
  font-size: 15px;
  text-transform: capitalize;
}

.promotion2-text--bottom-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promotion2-text--bottom-button:hover .promotion2-text--bottom-button-inner-left-img {
  opacity: 1;
}

.promotion2-text--bottom-button-inner-left {
  width: 50px;
  height: 100%;
  display: block;
}

.promotion2-text--bottom-button-inner-left-img {
  display: block;
  position: relative;
  margin: 15% auto;
  height: 70%;
  width: 70%;
  opacity: 0.85;
}

.promotion2-text--bottom-button-inner-right {
  width: 150px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion2-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1 / 1 / 2 / 9;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
}

.promotion2-nav img {
  height: 60%;
  margin: 20%;
}

.promotion2-nav-link {
  width: 33%;
  height: 100%;
  margin: 0px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.promotion2-nav-link#desktop {
  background: #069A94;
  border-bottom-left-radius: 4px;
}

.promotion2-nav-link#tablet {
  background: #038889;
}

.promotion2-nav-link#mobile {
  background: #017E82;
}

.promotion2-nav-link#mobile img {
  padding: 4px;
  width: 25%;
  height: 75%;
}

.promotion2-nav-link--active {
  background: #00828b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promotion2-nav-link--active#desktop {
  background: #046763;
  border-bottom-left-radius: 4px;
}

.promotion2-nav-link--active#tablet {
  background: #025b5b;
}

.promotion2-nav-link--active#mobile {
  background: #015457;
}

.promotion2-nav-link--active#mobile img {
  padding: 4px;
  width: 25%;
  height: 75%;
}

.promotion2-nav-link img {
  opacity: 1;
  position: relative;
  bottom: -10px;
  z-index: 0;
  position: relative;
}

.promotion2-nav-link:hover {
  -webkit-box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
          box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
}

.promotion2-nav-link:hover img {
  opacity: 1;
}

.promotion2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promotion2-containervd {
  width: 2px;
  height: 100%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.224);
  margin: 22px;
}

.promotion2-container-inner.promotion2-text {
  border-left: 3px solid rgba(0, 0, 0, 0.217);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.promotion2-container-inner-image {
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promotion2-container-inner-image .circle:nth-child(1) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.068);
  width: 470px;
  height: 470px;
  position: absolute;
  z-index: -3;
}

.promotion2-container-inner-image .circle:nth-child(2) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.074);
  width: 376px;
  height: 376px;
  position: absolute;
  z-index: -2;
}

.promotion2-container-inner-image .circle:nth-child(3) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.177);
  width: 282px;
  height: 282px;
  position: absolute;
  z-index: -1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  text-decoration: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);
}

.nav-line {
  display: block;
  width: 1px;
  height: 1.5em;
  background: black;
  margin: auto 6px;
}

@media (max-width: 376px) {
  .nav-line {
    display: none;
  }
}

.nav-link {
  margin-left: 4px;
  padding: 12px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  min-width: 100px;
  text-align: center;
  width: 50px;
}

.nav-link:hover {
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(47, 28, 28, 0.25);
          box-shadow: inset 0px 1px 2px 0px rgba(47, 28, 28, 0.25);
  font-weight: 700;
}

.nav-link:visited {
  color: black;
}

.nav-link:active {
  color: black;
}

.aboutMinimal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 40px 0;
}

.aboutMinimal-circle {
  width: 400px;
  height: 400px;
  background-image: url("/img/Shape 6.png");
  border-radius: 50%;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMinimal-circle-line1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMinimal .text {
  font-family: "Arial", sans-serif;
  font-size: 29px;
  color: rgba(0, 0, 0, 0.598);
  text-transform: uppercase;
}

.aboutMinimal .text-promo {
  font-family: "Arial", sans-serif;
  font-size: 29px;
  color: rgba(0, 0, 0, 0.598);
  text-transform: uppercase;
  padding-bottom: 2em;
  text-transform: capitalize;
}

.aboutMinimal .text-regular {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);
  padding: 2em;
  text-transform: capitalize;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.aboutMinimal-img {
  padding: 50px 20px 60px 20px;
  height: 100%;
}

.aboutMinimal-img-text {
  position: relative;
  bottom: 40px;
  font-family: "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.612);
  text-transform: capitalize;
}

body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section.header {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07);
}

.section.header .header-inner {
  display: inherit;
  max-width: 1200px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section#aboutMinimal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 700px;
}

.section.sale {
  min-height: 500px;
  width: 100%;
  background: #48d7b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section#copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hr {
  width: 2px;
  height: 1.5em;
  position: relative;
  top: 0.6rem;
  background: grey;
  margin-left: 4px;
}
/*# sourceMappingURL=index.css.map */