@import './variables';
@import './promotion';
@import './nav';
@import './sectionAboutMinimal';

// 

body {
  
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// ------ Project's CSS ------------------------------------//
.section {
  max-width: 1200px;
  margin: 0 auto;
  // display: flex;
  align-items: center;
  justify-content: space-between;

  &.header {
    max-width: 100vw;
    display: flex;
    align-self: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07);
  }

  &#aboutMinimal {
    flex-direction: column;
    min-height: 700px;
  }

  &.sale {
    min-height: 500px;
    width: 100%;
    background: #48d7b1;
    @include flex-row(center);
  }

  &#copyright {
    @include flex-row(center);
    padding: 16px;
  }
}

.container {
  display: flex;

  &.logo {
    margin-left: 10vw;
  }
}

.hr {
  width: 2px;
  height: 1.5em;
  position: relative;
  top: 0.6rem;
  background: grey;
  margin-left: 4px;
}