.promotion {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00737c), color-stop(#00878c), color-stop(#009c9a), color-stop(#00b2a7), to(#0fc7b1));
  background-image: linear-gradient(to right bottom, #00737c, #00878c, #009c9a, #00b2a7, #0fc7b1);
  min-height: 539px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 600px;
  padding: 0  0 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 130px 300px 280px;
      grid-template-rows: 130px 300px 280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow-wrap: normal;
}

.promotion-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 4 / 5;
  padding: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 100px) {
  .promotion-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2 / 2 / 3 / 4;
  }
}

@media (min-width: 300px) {
  .promotion-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2 / 2 / 3 / 4;
  }
}

@media (min-width: 500px) {
  .promotion-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2 / 1 / 4 / 5;
  }
}

@media (min-width: 1200px) {
  .promotion-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2 / 1 / 4 / 5;
  }
}

@media (min-width: 1200px) {
  .promotion-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2 / 1 / 4 / 5;
  }
}

.promotion-text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 1 / 5 / 4 / 9;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 17px;
}

@media (min-width: 100px) {
  .promotion-text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 3 / 2 / 4 / 8;
  }
}

@media (min-width: 300px) {
  .promotion-text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 3 / 2 / 4 / 6;
  }
}

@media (min-width: 500px) {
  .promotion-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 2 / 5 / 4 / 9;
  }
}

@media (min-width: 1200px) {
  .promotion-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 2 / 5 / 4 / 9;
  }
}

@media (min-width: 1200px) {
  .promotion-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 2 / 5 / 4 / 9;
  }
}

.promotion-text--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 158px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion-text--top svg {
  height: 72px;
  fill: #fafafadb;
  stroke: #efefefa6;
  fill-opacity: 0.5;
}

.promotion-text--bottom {
  margin-top: 30px;
  font-size: 30px;
  width: 100%;
}

.promotion-text--bottom-capitalize {
  font-size: 15px;
  text-transform: capitalize;
}

.promotion-text--bottom-button {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promotion-text--bottom-button:hover .promotion-text--bottom-button-inner-left-img {
  opacity: 1;
}

.promotion-text--bottom-button-inner-left {
  background-color: #00737c;
  width: 50px;
  height: 100%;
  display: block;
}

.promotion-text--bottom-button-inner-left-img {
  display: block;
  position: relative;
  margin: 15% auto;
  height: 70%;
  width: 70%;
  opacity: 0.85;
}

.promotion-text--bottom-button-inner-right {
  background-color: #0fc7b1;
  max-width: 150px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-overflow: ellipsis;
  padding: 2px 16px 5px 16px;
}

.promotion-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 1 / span 4 / 2 / 9;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
}

@media (min-width: 100px) {
  .promotion-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 1 / span 8 / 2 / 9;
  }
}

@media (min-width: 300px) {
  .promotion-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 1 / span 8 / 2 / 9;
  }
}

@media (min-width: 500px) {
  .promotion-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-area: 1 / span 5 / 2 / 9;
  }
}

@media (min-width: 1200px) {
  .promotion-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 1 / span 4 / 2 / 9;
  }
}

@media (min-width: 1200px) {
  .promotion-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 1 / span 4 / 2 / 9;
  }
}

.promotion-nav-link {
  width: 33%;
  height: 100%;
  margin: 0px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.promotion-nav-link .arrow {
  min-height: 20px;
  bottom: 15px;
  width: 20px;
  display: block;
  background: #00828b;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  opacity: 0;
  -webkit-transition: .05s ease-out;
  transition: .05s ease-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  bottom: -20px;
  height: 10px;
  width: 20px;
}

.promotion-nav-link .arrow--active {
  opacity: 1;
  bottom: 0px;
}

.promotion-nav-link .arrow--active#desktop {
  background: #046763;
  bottom: -26px;
}

.promotion-nav-link .arrow--active#tablet {
  background: #025b5b;
  bottom: -24px;
}

.promotion-nav-link .arrow--active#mobile {
  background: #015457;
  bottom: -11px;
  height: 10px;
}

.promotion-nav-link#desktop {
  background: #069A94;
  border-bottom-left-radius: 4px;
}

.promotion-nav-link#tablet {
  background: #038889;
}

.promotion-nav-link#mobile {
  background: #017E82;
  height: 100%;
}

.promotion-nav-link#mobile img {
  padding: 4px;
  width: 40px;
  height: 75%;
}

.promotion-nav-link--active {
  background: #00828b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promotion-nav-link--active#desktop {
  background: #046763;
  border-bottom-left-radius: 1px;
}

.promotion-nav-link--active#tablet {
  background: #025b5b;
}

.promotion-nav-link--active#mobile {
  background: #015457;
}

.promotion-nav-link--active#mobile img {
  padding: 4px;
  width: 40px;
  height: 75%;
}

.promotion-nav-link img {
  opacity: 1;
  position: relative;
  bottom: -10px;
  z-index: 0;
  position: relative;
}

.promotion-nav-link:hover {
  -webkit-box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
          box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
}

.promotion-nav-link:hover img {
  opacity: 1;
}

.promotion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.promotion-containervd {
  width: 2px;
  height: 100%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.224);
  margin: 22px;
}

.promotion-container-inner-image {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 100px) {
  .promotion-container-inner-image img {
    width: 100px;
  }
}

@media (min-width: 300px) {
  .promotion-container-inner-image img {
    width: 150px;
  }
}

@media (min-width: 500px) {
  .promotion-container-inner-image img {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .promotion-container-inner-image img {
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .promotion-container-inner-image img {
    width: 300px;
  }
}

.promotion-container-inner-image .circle:nth-child(1) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.068);
  width: 180%;
  height: 154.8%;
  position: absolute;
  z-index: -3;
}

.promotion-container-inner-image .circle:nth-child(2) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.074);
  width: 144%;
  height: 123.84%;
  position: absolute;
  z-index: -2;
}

.promotion-container-inner-image .circle:nth-child(3) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.177);
  width: 108%;
  height: 92.88%;
  position: absolute;
  z-index: -1;
}

.promotion2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00737c), color-stop(#00878c), color-stop(#009c9a), color-stop(#00b2a7), to(#0fc7b1));
  background-image: linear-gradient(to right bottom, #00737c, #00878c, #009c9a, #00b2a7, #0fc7b1);
  min-height: 539px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 25% 1fr 1fr;
      grid-template-rows: 25% 1fr 1fr;
  overflow-wrap: normal;
}

.promotion2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promotion2-containervd {
  width: 2px;
  height: 100%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.224);
  margin: 22px;
}

.promotion2-container-inner-image {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: auto;
  height: 100%;
}

.promotion2-container-inner-image img {
  height: auto;
  width: 100%;
}

.promotion2-image {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2 / 1 / 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 2;
  width: 100%;
}

@media (min-width: 100px) {
  .promotion2-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 2 / 1 / 3 / 9;
  }
}

@media (min-width: 300px) {
  .promotion2-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 2 / 1 / 3 / 9;
  }
}

@media (min-width: 500px) {
  .promotion2-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2 / 1 / 4 / 5;
  }
}

@media (min-width: 1200px) {
  .promotion2-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2 / 1 / 4 / 5;
  }
}

@media (min-width: 1200px) {
  .promotion2-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2 / 1 / 4 / 5;
  }
}

.promotion2-image-1 {
  background: #01646C;
}

.promotion2-image-2 {
  background: #097B84;
}

.promotion2-image-3 {
  background: #118F99;
}

.promotion2-image-4 {
  background: #1DA0AA;
}

.promotion2-image-5 {
  background: #29B7C2;
}

.promotion2-image-6 {
  background: #3CCAD5;
}

.promotion2-text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 2 / 5 / 4 / 9;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 17px;
}

@media (min-width: 100px) {
  .promotion2-text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 3 / 1 / 4 / 9;
    padding-left: 32px;
  }
}

@media (min-width: 300px) {
  .promotion2-text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 3 / 1 / 4 / 9;
    padding-left: 32px;
  }
}

@media (min-width: 500px) {
  .promotion2-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 2 / 5 / 4 / 9;
  }
}

@media (min-width: 1200px) {
  .promotion2-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 2 / 5 / 4 / 9;
  }
}

@media (min-width: 1200px) {
  .promotion2-text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 2 / 5 / 4 / 9;
  }
}

.promotion2-text-1 {
  background: #01646C;
}

.promotion2-text-2 {
  background: #097B84;
}

.promotion2-text-3 {
  background: #118F99;
}

.promotion2-text-4 {
  background: #1DA0AA;
}

.promotion2-text-5 {
  background: #29B7C2;
}

.promotion2-text-6 {
  background: #3CCAD5;
}

.promotion2-text--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 158px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion2-text--top svg {
  height: 72px;
  fill: #fafafadb;
  stroke: #efefefa6;
  fill-opacity: 0.5;
}

.promotion2-text--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  margin: 8px;
  max-width: 300px;
}

.promotion2-text--bottom-capitalize {
  font-size: 15px;
  text-transform: capitalize;
}

.promotion2-text--bottom-button {
  margin-top: 20px;
  width: 60%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  outline: rgba(255, 255, 255, 0) 1px dotted;
}

.promotion2-text--bottom-button:hover {
  outline: rgba(255, 255, 255, 0.253) 1px dotted;
  outline-style: ridge;
  -webkit-box-shadow: -3px 3px 15px 2px rgba(250, 250, 250, 0.24);
          box-shadow: -3px 3px 15px 2px rgba(250, 250, 250, 0.24);
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.promotion2-text--bottom-button:hover .promotion2-text--bottom-button-inner-left-img {
  background: #118F99;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.promotion2-text--bottom-button:hover .promotion2-text--bottom-button-inner-rightText {
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  font-weight: 500;
  background: #097B84;
  width: 100%;
  letter-spacing: .1px;
  text-transform: capitalize;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-overflow: ellipsis;
}

.promotion2-text--bottom-button-inner-left {
  background-color: #3EDAC6;
  width: 65px;
  height: 100%;
  display: block;
}

.promotion2-text--bottom-button-inner-left-img {
  display: block;
  position: relative;
  height: 70%;
  width: 70%;
  opacity: 0.85;
  padding: 14% 13% 16% 17%;
}

.promotion2-text--bottom-button-inner-rightText {
  background-color: #06CCB3;
  width: 100%;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
  letter-spacing: .5px;
}

.promotion2-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1 / 1 / 2 / 9;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promotion2-nav img {
  height: 60%;
  margin: 20%;
}

.promotion2-nav img {
  opacity: 1;
  position: relative;
  bottom: -10px;
  z-index: 0;
  position: relative;
}

.promotion2-nav-link {
  width: calc(100%/6);
  height: 100%;
  margin: 0px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.promotion2-nav-link-1 {
  background: #01646C;
}

.promotion2-nav-link-2 {
  background: #097B84;
}

.promotion2-nav-link-3 {
  background: #118F99;
}

.promotion2-nav-link-4 {
  background: #1DA0AA;
}

.promotion2-nav-link-5 {
  background: #29B7C2;
}

.promotion2-nav-link-6 {
  background: #3CCAD5;
}

.promotion2-nav--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promotion2-nav--active#desktop {
  background: #046763;
  border-bottom-left-radius: 4px;
}

.promotion2-nav--active#tablet {
  background: #025b5b;
}

.promotion2-nav--active#mobile {
  background: #015457;
}

.promotion2-nav--active#mobile img {
  padding: 4px;
  width: 25%;
  height: 75%;
}

.promotion2-nav:hover {
  -webkit-box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
          box-shadow: inset 0px 1px 9px 0px rgba(47, 28, 28, 0.25);
}

.promotion2-nav:hover img {
  opacity: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  text-decoration: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);
}

.nav-line {
  display: none;
  width: 1px;
  height: 1.5em;
  background: black;
  margin: auto 6px;
}

@media (min-width: 300px) {
  .nav-line {
    display: block;
  }
}

.nav-link {
  margin-left: 4px;
  padding: 12px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  min-width: 100px;
  text-align: center;
  width: 50px;
}

.nav-link img {
  width: 100%;
}

.nav-link:hover {
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(47, 28, 28, 0.25);
          box-shadow: inset 0px 1px 2px 0px rgba(47, 28, 28, 0.25);
  font-weight: 700;
}

.nav-link:visited {
  color: black;
}

.nav-link:active {
  color: black;
}

.aboutMinimal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  left: 0px;
  position: relative;
  overflow: hidden;
  overscroll-behavior: none;
}

.aboutMinimal svg {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.aboutMinimal svg path {
  fill: white;
}

.aboutMinimal .text {
  font-family: "Arial", sans-serif;
  font-size: 29px;
  color: #17c0b5;
  color: black;
  text-transform: uppercase;
}

.aboutMinimal .text-promo {
  font-family: "Arial", sans-serif;
  font-size: 29px;
  color: #17c0b5;
  color: black;
  text-transform: uppercase;
  padding-bottom: 2em;
  text-transform: capitalize;
}

.aboutMinimal .text-regular {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.496);
  padding: 2em;
  text-transform: capitalize;
  text-align: center;
}

.sale-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.sale-container-inner {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sale-container-inner-image {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 40%;
}

.sale-container-inner-image img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sale-container-inner.promotion-text {
  background: rgba(255, 255, 255, 0.054);
  border-left: 3px solid rgba(0, 0, 0, 0.217);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.sale-container-inner-bot-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  background: white;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 29px;
  color: #17c0b5;
  color: black;
  text-transform: uppercase;
  color: #52d9b5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.sale-container-inner-bot-left .text {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  overflow-wrap: break-word;
  width: 100%;
  text-align: left;
  outline: white;
}

@media (min-width: 300px) {
  .sale-container-inner-bot-left .text {
    text-align: center;
  }
}

.sale-container-inner-bot-left .text .text-sale {
  text-shadow: 1px 1px 1px white;
  font-size: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 200px;
  word-break: keep-all;
  text-overflow: clip;
  overflow: visible;
}

@media (min-width: 300px) {
  .sale-container-inner-bot-left .text .text-sale {
    font-size: 126px;
    max-width: 300px;
  }
}

.sale-container-inner-bot-left .text .text-sale2 {
  text-shadow: 1px 1px 1px white;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  max-width: 200px;
  width: 100%;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: visible;
}

@media (min-width: 300px) {
  .sale-container-inner-bot-left .text .text-sale2 {
    font-size: 50px;
    max-width: 300px;
  }
}

.sale-container-inner-bot-left .text .text-sale3 {
  text-shadow: 1px 1px 1px white;
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 200px;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: visible;
}

@media (min-width: 300px) {
  .sale-container-inner-bot-left .text .text-sale3 {
    font-size: 50px;
    max-width: 300px;
  }
}

.sale-container-inner-bot-right {
  width: 40%;
}

body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section.header {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.07);
}

.section.header .header-inner {
  display: inherit;
  max-width: 1200px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section#aboutMinimal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 700px;
  width: 100%;
}

.section.sale {
  height: 500px;
  width: 100%;
  background: #52d9b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section#copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  background: #fafafa;
  max-width: 1168px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hr {
  width: 2px;
  height: 1.5em;
  position: relative;
  top: 0.6rem;
  background: grey;
  margin-left: 4px;
}
/*# sourceMappingURL=index.css.map */